<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<h1>Student List</h1>
<a href="/students/new">Add New Student</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}+${student.name}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.age}"></td>
        <td>
            <form th:action="'/students/delete/' + ${student.id}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Delete</button>
            </form>


        </td>
    </tr>
</table>
</body>
</html>
